flask
flask_cors
flask_migrate
flask_praetorian
flask_restx
flask_sqlalchemy
flask_accepts
sqlalchemy
gunicorn
marshmallow-sqlalchemy
sqlalchemy-utils
psycopg2
marshmallow_dataclass
flask_marshmallow
flask_apscheduler
flask_mobility